html{
  min-height:300px ;
  min-width:300px ;
}
body{
    background-color: rgb(195, 149, 64);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#board{
 display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100px;
  height: 100px;
  border: 2px solid #333;
}
.BlackSpace{
  background-color: black;
  aspect-ratio: 1 / 1;
  color: white;
font-size: 6px;
align-items: center;
text-align: start;
}
.WhiteSpace{
    background-color: rgb(174, 174, 174);
    aspect-ratio: 1 / 1;
    font-size: 6px;
    align-items: center;
text-align: start;
}
img{
    align-self: center;
}